.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  position: absolute;
}

.hiddenFileInput {
  pointer-events: none;
  opacity: 0;
  position: fixed;
}

.editorHeader {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.headerTitle {
  display: inline;
  margin: 0;
}

.headerChooseDifferentFile {
  align-self: flex-end;
}

.headerChooseDifferentFileLabel {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
}
.headerChooseDifferentFileButton:focus + .headerChooseDifferentFileLabel,
.headerChooseDifferentFile:hover {
  color: blue;
}
.headerChooseDifferentFileButton {
  composes: hiddenFileInput;
}

.editorMain {
  width: 100%;
  // height: 100%;
  flex: 1 1;
  display: flex;
  flex-flow: column nowrap;

  height: 0;
}

.editorMainTop {
  height: 100%;
  height: 60vh;
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}
.editorMainTopAudio {
  flex-flow: column nowrap;
}

$background-grey: #f1f1f1;

.captionsSection {
  flex: 1;
  background-color: $background-grey;

  position: relative;

  .editorMainTopAudio & {
    height: 80%;
  }
}

.captionsList {
  flex: 1;
  overflow: auto;
  height: 100%;
  padding: 0.4rem;
}
.emptyCaptionsListHintText {
  margin: 10% auto;
  text-align: center;
  line-height: 1.5;
  color: rgb(120, 120, 120);
  font-size: 1.4rem;
  width: 70%;
}

.captionsMenu {
  flex: 0 1;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 1rem);
  bottom: 0;
  left: 0;
}

.importSubtitlesInput {
  composes: hiddenFileInput;
}

.importSubtitlesInput:focus + .importSubtitlesInputLabel,
.importSubtitlesInputLabel:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.actionButton {
  border: 0;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: rgb(0 0 0 / 40%) 1px 2px 4px;

  transition: all 0.2s;

  &:hover {
    filter: brightness(120%);
    cursor: pointer;
  }
}
.primaryActionButton {
  composes: actionButton;
  background-color: #215a88;
  color: #f7f7f7;
}
.secondaryActionButton {
  composes: actionButton;
  background-color: #f1f1f1;
  color: #757575;
}

.mediaSection {
  max-width: 800px;
  position: relative;

  background: black;
  display: flex;
  flex-flow: column;
  flex: 0 1 45%;
  &.audio {
    flex: 0 0;
    width: auto;
    min-width: none;
    max-width: none;
    background: $background-grey;
  }
}

.currentCaptionText {
  color: white;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  white-space: pre-wrap;
  font-size: 1.4rem;
}
.currentCaptionTextInner {
  background-color: black;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100px;
}